.app {
	display: flex;
}

.container {
	padding: 1rem;
	margin-left: 60px; 
	flex: 1;
}

body {
	margin: 0;
	padding: 0;
}

.gifer {
	width: 100px;
	height: 100px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 1000;
}