.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: linear-gradient(180deg, #74b9ff 0%, #0984e3 100%);	border-bottom: 1px solid #e0e0e0;
	width: 60px;
	position: fixed; // Fixed positioning
	top: 0;
	left: 0;
	height: 100vh;

	a {
		width: 100%;

		.menu-item {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			color: #fff;
			margin: 0.5rem 0;
			&.active {
				background-color: #6685e2;
			}
			&:hover {
				background-color: #6685e2;
			}
		}
	}
	
}